.container{
    margin-top: 17px;
    display: flex;
}

.left{
    width: 50%;
    height: 760px;
    flex-shrink: 0;
    background: var(--color-orange);
    display: flex;
    flex-direction: column;
}

.leftForBigScreen{
    position: absolute;
    width: 100%;
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    margin-top: -648px;
}

.title{
    display: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleBigScreen{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item{
    display: none;
    margin-top: 45px;
}

.itemBigScreen{
    margin-top: 45px;
}

.subtitle{
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.desc{
    color: var(--color-white);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.68px;
    text-transform: uppercase;
    max-width: 385px;
    margin-top: 10px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    background: url('/imgs/svg/backgroundSafety.svg') right bottom/cover no-repeat;
    /* background: url('/imgs/png/edited.png') right /auto no-repeat; */
}

.bearImg{
    position: absolute;
    margin-top: 80px;
    right: 20%;
    transform: translate(50%);
    height: 444px;
    width: 444px;
}


@media (max-width: 1124px) {
    .container{
        flex-direction: column;
    }
    .left{
        width: 100%;
        align-items: center;
    }
    .leftForBigScreen{
        display: none;
    }
    .title{
        display: block;
        padding-top: 124px;
        text-align: center;
    }
    .titleBigScreen{
        display: none;
    }
    .subtitle, .desc {
        text-align: center;
    }
    .item{
        display: block;
    }
    .right{
        width: 100%;
        height: 760px;
    }
    .bearImg{
        /* border: 2px solid green; */
        margin-top: 64px;
        right: 38%;
        transform: translate(50%);
    }
}

@media(max-width: 864px) {
    .bearImg{
        /* border: 2px solid red; */
        right: 38%;
    } 
}

@media(max-width:740px) {
    .title{
        padding-top: 0;
    }
    .left{
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }
    .subtitle{
        font-size: 18px;
    }
    .desc{
        font-size: 15px;
    }
    .bearImg{
        /* border: 2px solid white; */
        right: 44%;
    } 
}

@media(max-width:648px) {
    .bearImg{
        /* border: 2px solid yellow; */
        right: 48%;
    } 
}

@media(max-width:540px) {
    .bearImg{
        /* border: 2px solid green; */
        margin-top: 120px;
        height: 380px;
        width: 380px;
    } 
}

@media(max-width:464px) {
    /* .right{
        height: 448px;
    } */
    .bearImg{
        margin-top: 200px;
        right: 60%;
        height: 310px;
        width: 310px;
    } 
}
