@font-face {
  font-family: 'Lapsus Pro Bold';
  src: url('/fonts/LapsusPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* @import url('./fonts.css'); */


:root {
  --color-white: #fff;
  --color-black: #000;

  --desktop: 1440px;
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* html,
body {
  max-width: 100vw;
  background: var(--color-black-primary);
  color: var(--color-white);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
} */




/* Add custom styles for the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #F48101; 
  border-radius: 4px; /* Rounded corners of the handle */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
