.hero{
    background: var(--color-black);
}

.heroSection {
    margin-top: 72px;
    height: 710px;
    background: url('/imgs/svg/hero.svg') bottom/cover no-repeat;
    z-index: -99;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 710px;
}
  
.leftSide, 
.rightSide {
    flex: 1; 
}

.rightSide{
    display: flex;
    justify-content: flex-end;
}

.heroImg{
    position: absolute;
    top: 264px;
}

.title{
    max-width: 510px;
}

.subtitle{
    max-width: 510px;
}


@media (max-width: 1124px) {
    .heroSection {
        height: 1000px;
    }
    .wrapper{
        height: 1000px;
        flex-direction: column;
    }
    .title{
        padding-top: 148px;
        text-align: center;
    }
    .subtitle{
        padding-top: 8px;
        text-align: center;
    }
    .heroImg{
        position: absolute;
        top: 548px;
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width: 524px) {
    .heroSection {
        height: 824px;
    }
    .heroImg{
        top: 480px;
        width: 350px;
        height: 380px;
    }
}

@media (max-width: 424px) {
    .heroImg{
        top: 564px;
        width: 280px;
        height: 300px;
    }
}




